:root {
  font-family: "Space Grotesk", "Poppins", "Figtree", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  color: black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gradient-primary{
  background-color: linear-gradient(135deg, hsl(217 91% 60%), hsl(260 70% 60%));
}

.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}
	.scrollbar-hide {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
  .mask-linear-fade {
  mask-image: linear-gradient(
    to right, 
    transparent, 
    black 10%, 
    black 90%, 
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right, 
    transparent, 
    black 10%, 
    black 90%, 
    transparent
  );
}